$default-color: #F46353;

$default-bg-color: #eee;

$default-font-color: #4a4a4a;

$primary-btn-color: #4CB992;

$default-link-color: #287EC7;

$default-border-radius: 4px;

$default-font: normal 16px/24px 'SF UI Display Regular', 'Open Sans', Helvetica, Sans-serif;

$default-padding: 24px;

$default-margin: 24px;
