/*flex-grid base*/
@mixin flex-box {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
}

@mixin flex-row {
	flex-direction: row;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
}

@mixin flex-column {
	flex-direction: column;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
}

@mixin col-spacer {
	margin: $default-margin/2;
}

/*flex-grid columns*/
@mixin one {
	flex: 1;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	@include col-spacer;
}

@mixin two {
	flex: 2;
	-webkit-flex: 2;
	-moz-flex: 2;
	-ms-flex: 2;
	@include col-spacer;
}

@mixin three {
	flex: 3;
	-webkit-flex: 3;
	-moz-flex: 3;
	-ms-flex: 3;
	@include col-spacer;
}

@mixin four {
	flex: 4;
	-webkit-flex: 4;
	-moz-flex: 4;
	-ms-flex: 4;
	@include col-spacer;
}

@mixin five {
	flex: 5;
	-webkit-flex: 5;
	-moz-flex: 5;
	-ms-flex: 5;
	@include col-spacer;
}

@mixin six {
	flex: 6;
	-webkit-flex: 6;
	-moz-flex: 6;
	-ms-flex: 6;
	@include col-spacer;
}

@mixin seven {
	flex: 7;
	-webkit-flex: 7;
	-moz-flex: 7;
	-ms-flex: 7;
	@include col-spacer;
}

@mixin eight {
	flex: 8;
	-webkit-flex: 8;
	-moz-flex: 8;
	-ms-flex: 8;
	@include col-spacer;
}

@mixin nine {
	flex: 9;
	-webkit-flex: 9;
	-moz-flex: 9;
	-ms-flex: 9;
	@include col-spacer;
}

@mixin ten {
	flex: 10;
	-webkit-flex: 10;
	-moz-flex: 10;
	-ms-flex: 10;
	@include col-spacer;
}

@media only screen and (max-width: 568px) {
@mixin one {@include default-flex;}
@mixin two {@include default-flex;}
@mixin three{@include default-flex;}
@mixin four {@include default-flex;}
@mixin five {@include default-flex;}
@mixin six {@include default-flex;}
@mixin seven {@include default-flex;}
@mixin eight {@include default-flex;}
@mixin nine {@include default-flex;}
}

.col {
	@include one;
	@extend %content;
}

@mixin default-flex {
	flex: 1;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
}

/*flex-grid layout*/
@mixin module {
	@include flex-box;
	@include flex-row;
	margin-right: $default-margin/2;
	margin-left: $default-margin/2;
}

.main {
@include flex-box;
@include flex-row;
}

footer {
	@include flex-box;
	@include flex-row;
}

/*my custom layout*/
.l-main {
	@include module;
}

.l-top-feature {
	@include module
}

.l-sub-feature {
	@include module
}

.l-features {
	@include module
}

.l-social-media {
	@include module
}

.about {
	@include two;
}

.contact {
	@include eight;
}

/*theme*/
%content {
	background-color: #eee;
	border-radius: 3px;
	padding: $default-padding;
}

@media only screen and (max-width: 640px) {
.module, main, aside, footer, .main, .footer {
	@include flex-box;
	@include flex-column;
}

.l-main,
.l-top-feature,
.l-sub-feature,
.l-features,
.l-social-media {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}
}