.l-hero {
  background-color: #F46353;
  color: #fff;
  padding: 5%;
  text-align: center;
  font-size: 200%;
}

/*media queries*/
@media only screen and (max-width: 768px) {
  .l-hero {
    min-height: 75px;
  }
  .l-hero > h1 {
    font-size: 100%;
  }
}
@media only screen and (min-width: 768px) {
 	.l-hero {
    position: relative;
  }
}
